@font-face {
  font-family: "Reactor7";
  src: url("/font/Reactor7.woff") format("woff"),
    url("/font/Reactor7.ttf") format("truetype");
}

:root {
  --background-color: linear-gradient(135deg, #0000ff, rgb(0, 2, 19));
  --primary-text-color: white;
  --secondary-text-color: rgb(0, 192, 206);
  --body-size: 18px;
  --h-size: 27px;
  --footer-height: 13rem;
  --body-font: "Reactor7";
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--primary-text-color);
  background: var(--background-color);
  font-family: var(--body-font);
  font-size: var(--body-size);
  min-width: 360px;
}

a {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: normal;
}

p {
  color: inherit;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-height: calc(100vh - var(--footer-height));
}

@media only screen and (min-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
    padding: 1rem 6rem;
    min-height: calc(100vh - var(--footer-height));
  }
}

header,
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  font-size: var(--h-size);
}

header a {
  color: var(--body-text-color);
}

footer {
  justify-content: center;
  font-size: var(--body-size);
}

h1 {
  font-weight: normal;
  font-size: var(--h-size);
  color: var(--primary-text-color);
  margin: 0;
}
h2 {
  font-weight: normal;
  font-size: var(--h-size);
  color: var(--secondary-text-color);
  margin: 0;
}

button,
input {
  color: var(--body-text-color);
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 4px var(--body-size);
  border-color: white;
  border-width: 2px;
  border-style: solid;
  font: inherit;
}

label {
  font-size: var(--body-size);
  color: var(--secondary-text-color);
  padding-bottom: 4px;
}

.container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--body-text-color);
  background-color: var(--background-color);
  border-radius: 16px;
  padding: var(--h-size) var(--h-size);
  border-color: white;
  border-width: 2px;
  border-style: solid;
  font: inherit;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
